<?xml version="1.0" ?>
<framework>
    <!-- set to 1 to send debug info to logFile -->
    <debug>0</debug>
    <!-- Use ADODBLite w/ the PEAR module -->
    <db>
        <dsn>mysql://root:@localhost/test#pear</dsn>
        <type>ADODB</type>
        <options>
            <adodbDir>adodb_lite</adodbDir>
        </options>
    </db>
    <!-- inactivity timeout - in seconds -->
    <inactiveTimeout>600</inactiveTimeout>
    <maxPerPage>50</maxPerPage>
    <supportEmail>support@example.com</supportEmail>
    <supportName>DNS Team</supportName>
    <logFile>/tmp/vegadns.log</logFile>
    <user>
        <userClass>VegaDNS</userClass>
        <userTable>accounts</userTable>
        <userField>user_id</userField>
        <defaultUser>1</defaultUser>
        <userLocaleDir>Framework/Site/Default/locale</userLocaleDir>
    </user>
</framework>
