A {
  text-decoration: none;
}
A:link {
  color: #3301A4;
}
A:visited {
  color: #3301A4;
}
A:hover {
  color: black;
  background: #eeeeee;
  border: blue;
}
A:active {
  color: blue;
}
body {
  color: #000000;
  background-color: #fefefe;
  text-decoration: none;
  font-family: Verdana,Helvetica,sans-serif;
  font-size: 10px;
  font-weight: normal;
  margin-left: 0px;
  margin-top: 15px
  margin-width: 0px;
  margin-height: 15px;
}
font {
  text-decoration: none;
  font-family: Verdana,Helvetica,sans-serif;
  font-size: 12px;
  font-weight: normal;
}
.error {
  text-decoration: none;
  font-family: Verdana,Helvetica,sans-serif;
  font-size: 12px;
  color: red;
  font-weight: normal;
}
td {
  text-decoration: none;
  font-family: Verdana,Helvetica,sans-serif;
  font-size: 12px;
  font-weight: normal;
}
select {
    color: black;
    text-decoration: none;
    font-family: Verdana,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: normal;
}
input {
    color: black;
    text-decoration: none;
    font-family: Verdana,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
}
