.treeview, .treeview ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.treeview li {
    margin: 0;
    padding: 4px 0 3px 20px;
}
.treeview li { background: url(images/black/tv-item.gif) 0 0 no-repeat; }
.treeview .collapsable { background-image: url(images/black/tv-collapsable.gif); }
.treeview .expandable { background-image: url(images/black/tv-expandable.gif); }
.treeview .last { background-image: url(images/black/tv-item-last.gif); }
.treeview .lastCollapsable { background-image: url(images/black/tv-collapsable-last.gif); }
.treeview .lastExpandable { background-image: url(images/black/tv-expandable-last.gif); }
