A {
  text-decoration: none;
}
A:link {
  color: #3301A4;
}
A:visited {
  color: #3301A4;
}
A:hover {
  color: black;
  background: #eeeeee;
  border: blue;
}
A:active {
  color: blue;
}
body {
  text-decoration: none;
  font-family: Verdana,Helvetica,sans-serif;
  font-size: 10px;
  font-weight: normal;
  margin-left: 0px;
  margin-top: 15px
  margin-width: 0px;
  margin-height: 15px;
}
font {
  text-decoration: none;
  font-family: Verdana,Helvetica,sans-serif;
  font-size: 12px;
  font-weight: normal;
}
.error {
  text-decoration: none;
  font-family: Verdana,Helvetica,sans-serif;
  font-size: 12px;
  color: red;
  font-weight: normal;
}
td {
  text-decoration: none;
  font-family: Verdana,Helvetica,sans-serif;
  font-size: 12px;
  font-weight: normal;
}
td.white {
  text-decoration: underline;
  font-family: Verdana,Helvetica,sans-serif;
  font-size: 12px;
  font-style: none;
  font-weight: bold;
}
td.greyed {
  text-decoration: none;
  font-family: Verdana,Helvetica,sans-serif;
  font-size: 12px;
  font-style: italic;
  font-weight: normal;
  background-color: #cccccc;
}
td.border {
  background-color: #dccfff;
  border-top: 1px solid #666;
  border-left:1px solid #666;
  border-bottom: 1px solid #666;
  border-right: 1px solid #666;
}
td.underline {
  background-color: white;
  border-bottom: 1px solid #666;
}
select {
    color: black;
    text-decoration: none;
    font-family: Verdana,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: normal;
}
input {
    color: black;
    text-decoration: none;
    font-family: Verdana,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
}
hr {
    background-color: #666;
    height: 1px;
    border: 0;


